#dashboard {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    height: 300px;
    text-align: center;
    background-color: #686d72;
    color: #fff;
    align-content: center;
  }
  #dashboard h1 {
    font-size: 30px;
    font-weight: bold;

  }

  #message {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 30px;
    font-weight: bold;
    
  }




